@import "tailwindcss";
@import "./theme.css";

:root {
  --color-text: var(--color-neutral-darkest);
  --color-foreground: var(--color-neutral-lightest);
  --color-background: var(--color-white);
  --color-border: var(--color-neutral-darkest-15);
  --color-accent: var(--color-black);
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-text);
}
