@import "tailwindcss";
@import "./theme.css";

:root {
  --color-text: var(--color-neutral-darkest);
  --color-foreground: var(--color-neutral-lightest);
  --color-background: var(--color-white);
  --color-border: var(--color-neutral-darkest-15);
  --color-accent: var(--color-black);
}

@theme {
  --font-sans: var(--font-aspira);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  
  --color-dandelion: var(--color-dandelion);
  --color-dandelion-light: var(--color-dandelion-light);
  --color-dandelion-dark: var(--color-dandelion-dark);
  
  --color-neutral-lightest: var(--color-neutral-lightest);
  --color-neutral-darker: var(--color-neutral-darker);
  
  --color-black: var(--color-black);
  --color-white: var(--color-white);

  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
}

body {
  background: var(--color-background);
  color: var(--color-text);
}
